<div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h3 class="list-group-item list-group-item-info">Check out my work</h3>
                <ul class="list-unstyled">
                    <li class="list-group-item list-group-item-info">
                        <a href="https://github.com/Andreamsofcake">Git hub page</a>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <a href="http://andreamsofcake.github.io/All-you-knead/index.html">All You Knead - Example Static Website</a>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <a href="http://www.andreamsofcake.com/">
                        Lunch Roulette - Team Project</a>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <a href="https://cityhacker.herokuapp.com/">
                        City Hackers Web App -Team Project</a>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <a href="http://siliconflorist.com/2014/11/20/portland-code-school-points-growing-number-women-ranks/">Article with me in SiliconFlorist</a>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <a href="https://www.linkedin.com/pub/andrea-moulding/90/110/b30">
                        Linked In profile</a>
                    </li>
                    <p class="list-group-item list-group-item-info"> And this web site.</p>
                </ul>
            </div>
        </div>