<div class="row">
  <div class="col-lg-12">
    <a href="img/resume.pdf" download="massage_giant.pdf">
        <br>
        Click to Down Load PDF
        <img src="img/resume.png"></a>
    </div>
</div>